@import 'variables';

@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";
@import "~bulma/sass/utilities/derived-variables";

$header-background-color: $background;
$sidebar-background-color: $background;
$sidebar-border-radius: $layout-border-radius;
$sidebar-z-index: 500; // Sidebar should be above the map in mobile view

$layout-height: 85vh;

$map-width: 75vw;
$map-height: $layout-height;

$header-min-height: 50px;

.layout-box{
    background-color: white;
    z-index: calc($sidebar-z-index + 5);
    position: relative;
}

.header-container{
    background-color: $header-background-color;
    border-radius: $sidebar-border-radius;
    border: 3px solid white;

    width: calc(100% - 2*$layout-padding);
    min-height: $header-min-height;

    align-items: center;
    display: flex;
    justify-content: space-between;

    padding: $layout-padding;
    margin: 0 $layout-padding 0 $layout-padding;

    z-index: calc($sidebar-z-index + 10);
    position: relative;
}
.header-container .logo {
    max-width: 100%;
    height: 100%;
}

.header-container .title {
    text-align: left;
    padding-left: $layout-padding;
}

.header-container .subtitle {
    text-align: left;
    padding-left: $layout-padding;
}

.layout-container{
    background-color: white;
    z-index: calc($sidebar-z-index + 5);
    margin-left: $layout-padding;
    margin-right: $layout-padding;
    position: relative;
    overflow: hidden;
}

.sidebar-container{
    min-width: calc(5 * $radio-img-size);
   
    background-color: $sidebar-background-color;
    border-radius: $sidebar-border-radius;

    justify-content: center; //horizontal
    align-items: center; //vertical
    text-align: center;
    padding: calc($layout-padding*2);
    margin: calc($layout-padding*2) 0 0 0;

    // All of the below is for the swipe animation
    z-index: $sidebar-z-index;
    @media (max-width: $tablet) { 
        position: absolute;
        top: calc($layout-padding*2); 
        left: $layout-padding/2;
        max-width: calc(100% - 3*$layout-padding);

        transition: transform 0.3s ease-in-out;
        transform: translateY(0); // Initially open
        background-color: linear-gradient(
                                to bottom, 
                                rgba($sidebar-background-color,1),
                                rgba($sidebar-background-color,0.9));
        
        margin-left: $layout-padding;
        margin-right: $layout-padding;
    }
    @media (min-width: $tablet) {
        height: calc($layout-height - $layout-padding);
        position: relative;

        margin: $layout-padding 0 $layout-padding 0;
    }
}
.sidebar-container.closed {
    transform: translateY(-92%); // Closed state
}

.sidebar-container .field{
    width: 100%;
    justify-content: center; //horizontal
    align-items: center; //vertical
    text-align: center;
}
.sidebar-container .swipe-handle{
    width: 100%;
    cursor: grab;

    @media (min-width: $tablet) {
        &::after {
            content: ''; // Hide text on mobile
        }
    }
}

.sidebar-title-container{
    width: 100%;
    text-align: center;
}

.map-container{
    position: relative;
    background-color: transparent;
    border-radius: $sidebar-border-radius;
    // We want left and right padding to be 0 on mobile
    // and some padding on tablet and above
    @media (max-width: $tablet) {
        &.is-mobile{
            padding-left: 0;
            padding-right: 0;
        }
    }
    @media (min-width: $tablet) {
        padding: 
            $layout-padding //top
            $layout-padding //right
            0 //bottom
            $layout-padding; //left
        height: $layout-height;
    }
    
}