@import 'variables';


$header-background-color: $background;
$sidebar-background-color: $background;
$sidebar-border-radius: $layout-border-radius;

$layout-height: 85vh;

$map-width: 75vw;
$map-height: $layout-height;

$header-min-height: 50px;

.header-container{
    background-color: $header-background-color;
    border-radius: $sidebar-border-radius;

    width: 100%;
    min-height: $header-min-height;
    align-items: center;

    display: flex;
    justify-content: space-between;
    width: 100%;

    padding: $layout-padding;
}
.header-container .logo {
    max-width: 100%;
    height: 100%;
}

.header-container .title {
    text-align: left;
    padding-left: $layout-padding;
}

.header-container .subtitle {
    text-align: left;
    padding-left: $layout-padding;
}

.layout-container{
    background-color: transparent;
    margin: $layout-padding $layout-padding $layout-padding $layout-padding;
}

.sidebar-container{
    min-width: calc(5 * $radio-img-size);
    max-width: calc(6 * $radio-img-size);
    background-color: $sidebar-background-color;
    border-radius: $sidebar-border-radius;

    justify-content: center; //horizontal
    align-items: center; //vertical
    text-align: center;

    padding: $layout-padding;
}

.sidebar-container .field{
    width: 100%;
    justify-content: center; //horizontal
    align-items: center; //vertical
    text-align: center;
}

.sidebar-title-container{
    width: 100%;
    text-align: center;
}

.map-container{
    background-color: transparent;
    border-radius: $sidebar-border-radius;
    padding: 0 $layout-padding 0 $layout-padding;
    height: $layout-height;
}