$background: lightgrey; //#758caa;
$layout-padding: 0.5rem;
$layout-border-radius: 1rem;


$overlay-font-size: 0.7rem;

$sidebar-scrollbar-width: 0.5rem;
/**
* Form variables
*/

$form-primary-color: black;
$form-border-radius: 0.5rem;



$dropdown-hover-color: #676767;

$radio-img-size: 3.75rem;