@import "variables";
@import "layout";
@import "map_popup.scss";

/** 
* The default leaflet container
**/
.leaflet-container {
    /* Setting the aspect ratio to 1:1 means the height = width*/
    aspect-ratio: 1 / 1;
    width: min($map-width, $map-height);

    border: solid $background 0.5rem;
    border-radius: $layout-border-radius;
    //border-radius: 50%;
}