@import 'variables';

@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";
@import "~bulma/sass/utilities/derived-variables";

$radio-background-color: $background;
$radio-unchecked-border-color: transparent;
$radio-checked-border-color: darkslategray;
$radio-border-radius: $form-border-radius;

$radio-overlay-background-color: rgba(255, 255, 255, 0.6);
$radio-overlay-font-color: black;


.radio-container {
    width: 100%;
    background-color: transparent;

    text-align: center;
    align-items: center; //vertical

    display: flex;
    overflow-y: auto;
    -webkit-overflow-scrolling-y: auto;
    
    // For mobile, we want to make it one long-scrollable row
    @media (max-width: $tablet) { &.is-mobile-height {
        max-height: 20vh;

        // Always show the horizontal scrollbar
        overflow-x: scroll;
        -webkit-overflow-scrolling-x: scroll;
    }}

    // For tablet and above, we want to make it a flex grid
    @media (min-width: $tablet) { &.is-tablet-height {
        max-height: 40vh;
        flex-wrap: wrap;

        // Only show the horizontal scrollbar if needed
        overflow-x: auto;
        -webkit-overflow-scrolling-x: auto;
    }}

    &::-webkit-scrollbar {
        height: $sidebar-scrollbar-width; // Height of the horizontal scrollbar
        width: $sidebar-scrollbar-width;
    }

    &::-webkit-scrollbar-thumb {
        background-color: darkgrey;
        border-radius: 10px;
    }
    &::-webkit-scrollbar-track {
        background-color: grey;
        border-radius: 10px;
    }

    margin-bottom: calc(2*$layout-padding);
}
[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.radio-text{
    padding-bottom: $layout-padding;

    text-align: center;
    justify-content: center; //horizontal
    align-items: center; //vertical
}

.small-radio-text{
    padding-bottom: $layout-padding;

    text-align: center;
    justify-content: center; //horizontal
    align-items: center; //vertical
    font-size: 0.6rem;
}

[type=radio] + .radio-img-container {
    cursor: pointer;
    outline: 2px solid $radio-unchecked-border-color;
    border-radius: $radio-border-radius;
    opacity: 0.75;

    width: $radio-img-size;
    height: $radio-img-size;

    position: relative;
    display: inline-block;
}

[type=radio]:checked + .radio-img-container {
    outline: 2px solid $radio-checked-border-color;
    border-radius: $radio-border-radius;
    opacity: 1;

    width: $radio-img-size;
    height: $radio-img-size;
}

[type=radio]:disabled + .radio-img-container {
    border-radius: $radio-border-radius;

    width: $radio-img-size;
    height: $radio-img-size;

    opacity: 0.5;  // Dull the image if disabled
    //background-color: rgba(128, 128, 128, 1);
}

.radio-img-text-overlay{
    width: 100%;
    border-radius: $radio-border-radius;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); // Center the text over the image

    color: $radio-overlay-font-color;
    background-color: $radio-overlay-background-color;

    font-size: $overlay-font-size;
    font-weight: bold;
    padding: 0;
}