@import 'variables';

$radio-background-color: $background;
$radio-unchecked-border-color: transparent;
$radio-checked-border-color: darkslategray;
$radio-border-radius: $form-border-radius;

.radios {
    width: 100%;
    background-color: transparent;
    border-radius: $radio-border-radius;
    padding: 0 $layout-padding calc($layout-padding*3) $layout-padding;

    text-align: center;
    justify-content: center; //horizontal
    align-items: center; //vertical
}

[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.radio-text{
    padding-bottom: $layout-padding;

    text-align: center;
    justify-content: center; //horizontal
    align-items: center; //vertical
}

[type=radio] + img {
    cursor: pointer;
    outline: 2px solid $radio-unchecked-border-color;
    border-radius: $radio-border-radius;
    opacity: 0.75;

    width: $radio-img-size;
    height: $radio-img-size;
}

[type=radio]:checked + img {
    outline: 2px solid $radio-checked-border-color;
    border-radius: $radio-border-radius;
    opacity: 1;

    width: $radio-img-size;
    height: $radio-img-size;
}

[type=radio]:disabled + img {
    border-radius: $radio-border-radius;

    width: $radio-img-size;
    height: $radio-img-size;

    opacity: 0.5;
    background-color: rgba(128, 128, 128, 1);
}

[type=radio] + .radio-img-container {
    cursor: pointer;
    outline: 2px solid $radio-unchecked-border-color;
    border-radius: $radio-border-radius;
    opacity: 0.75;

    width: $radio-img-size;
    height: $radio-img-size;

    position: relative;
    display: inline-block;
}

[type=radio]:disabled + .radio-img-container {
    border-radius: $radio-border-radius;

    width: $radio-img-size;
    height: $radio-img-size;

    opacity: 0.5;
    background-color: rgba(128, 128, 128, 1);
}

[type=radio]:disabled + .radio-img-container {
    border-radius: $radio-border-radius;

    width: $radio-img-size;
    height: $radio-img-size;

    opacity: 0.5;
    background-color: rgba(128, 128, 128, 1);
}

.radio-img-text-overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: black;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: $overlay-font-size;
    font-weight: bold;
    width: 95%;
    border-radius: $radio-border-radius;
    padding:0;
}